@model Mediateur.ViewModels.ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Send a reset link</button>
</form>
  